<!DOCTYPE HTML>
<html ng-app="cartApp">
    <head>
        <title>Shopping Cart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Faizan Akram Dar">
        <meta name="description" content="Shopping Cart">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/sweetalert.css" />
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <main>
            <div class="wrapper">
                <nav class="main-nav wrapper">
                    <ul class="nav-menu" ng-controller="cartCtrl">
                        <li><a href="javascript:;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-shopping-cart" aria-hidden=true></span> Cart <span class="badge" ng-show="items.length > 0">{{items.length}}</span></a></li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="row">
                        <div ng-controller="productCtrl">
                            <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-3">
                                <button class="content-heading btn btn-block btn-info text-center" ng-show="showMe" ng-click="addItems()"><span class="h3">Add selected items to cart</span></button>
                                <h2 class="content-heading text-center">Products</h2>
                            </div>

                            <div class="clearfix"></div>

                            <div ng-repeat="product in products">
                                <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-0 text-center">
                                    <label class="text-center heading h2" ng-class="{green:product.addtolist}" ><input type="checkbox" class="items-checkbox" ng-model="product.addtolist" ng-click="lblClick()" />SUV {{product.id}}</label>
                                    <img ng-src="images/{{product.id}}.jpg" alt="{{product.id}}" class="img-responsive img-thumbnail img-rounded" />
                                    <div>
                                        <button type="button" class="btn btn-block btn-info" ng-click="add()" ng-hide="product.addtolist">
                                            <span class="glyphicon glyphicon-shopping-cart" ></span> Add to cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cart -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  ng-controller="cartCtrl">
                          <div class="modal-dialog cart" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Cart</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="col-xs-2 cart-heading text-center">ID</div>
                                  <div class="col-xs-5 cart-heading">Quantity</div>
                                  <div class="col-xs-5 cart-heading text-center">Actions</div>
                                  <div class="clearfix"></div>
                                  <div ng-repeat="item in items" class="cart-row">
                                    <div class="col-xs-2 text-center">{{item.id}}</div>
                                    <div class="col-xs-5"><input type="number" ng-model="item.quantity" class="form-control" /></div>
                                    <div class="col-xs-5 text-center">
                                        <button type="button" class="btn btn-info" ng-click="addOne()"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-warning" ng-click="removeOne()"><span class="glyphicon glyphicon-minus"></span></button>
                                        <button type="button" class="btn btn-danger" ng-click="delete(this.item.id)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                  <div class="clearfix"></div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-info" data-dismiss="modal">Okay!</button>
                                  <button type="button" class="btn btn-info btn-warning" ng-click="clear()">Clear</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="clearfix push-bottom"></div>
                        <footer>
                           <a href="http://faizanakram.me"> &copy; Designed and developed by Faizan Akram!</a>
                        </footer>
                    </div>
                </div>
            </div>
        </main>
<!--
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>
